{% extends 'base.html' %}

{% block conteudo %}

    <h1>Editar Time</h1>
    <div class="container">
        <form action="{{ url_for('editar', id=time['id']) }}" method="post">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" value="{{ time['nome'] }}" required><br><br>
            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" name="cidade" value="{{ time['cidade'] }}" required><br><br>
            <label for="estado">Estado:</label>
            <input type="text" id="estado" name="estado" value="{{ time['estado'] }}" required><br><br>
            <input type="submit" value="Salvar">
        </form>
    </div>
{% endblock %}
